<div class="shell-container">
  <header class="header">
    <div class="header-section">
      <div class="data-info">Data coming from MFE 1</div>
      <div class="data-field">
        Name: {{mfe1Details().detail.name}}
      </div>
      <div class="data-field">
        Email: {{mfe1Details().detail.email}}
      </div>
    </div>
    <div class="header-section">
      <div class="data-info">Data coming from MFE 2</div>
      <div class="data-field">
        Message: {{ mfe2Details().detail.msg }}
      </div>
    </div>
  </header>

  <div class="main-section">
    <div class="flex50">
      <mfe1-reactive-form />
    </div>
    <div class="flex50">
      <mfe2-display-form-data />
    </div>
  </div>
</div>
